
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 96%;
    border: 0;
    clear: both;
    display: block;
    background-color: black;
    height: 1px;
}
.container{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: red;
}

/* Header Section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px inset black;
    /* max-width: 900px; */
}
header h1{
    font-size: calc(2.5rem + .8vw);
    font-weight: 600;
    margin: 10px 5px;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
}
header .pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .pages a{
    font-size: 2.5vw;
    /* font-size: calc(3rem - .5vw); */
    margin: 10px 5px;
    padding: 0px 5px 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}
header .pages a:hover{
    transform: scale(1.1);
}
header .pages a:visited{
    text-decoration: none;
    color: black;
}
/* End of Header Section */

/* Home-about layout Section */
main .home{
    background-color: rgb(49, 146, 146);
    margin-bottom: 20px;
    padding-bottom: 40px;
}
main .home .home-about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 900px;
    /* min-width: 0; */
    /* overflow: hidden; */
    background-color: rgb(61, 171, 171);
}
main .home .home-about h2{
    font-size: 3rem;
    font-weight: 500;
    margin: 20px 10px 20px 10px;
    
}
main .home .home-about p{
    font-size: 2rem;
    font-weight: 400;
    margin: 0px 10px 20px 10px;

}
main .home .home-about q{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    padding: 30px 20px 30px 20px;
    margin: 40px 10px 80px 10px;
    text-align: center;
}
/* End of home-about layout Section*/

/* About Section */
main .home .home-about .activity{
    margin: 15px 15px 15px 15px;
}
main .home .home-about .activity h3{
    font-size: 2.5rem;
    padding-bottom: 15px;
}
main .home .home-about .activity .description{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
main .home .home-about .activity .description img{
    float: left;
    height: 150px;
    width: 150px;
    margin-right: 15px;
}
main .home .home-about .activity .description p{
    padding-left: 15px;
}
/* End of About Section */

/* Portfolio Section */
main .home .home-about .project{
    /* margin */
    /* width: 750px; */
    padding: 50px 50px;
    min-width: 0;
    overflow: hidden;
}
main .home .home-about .project h3{
    font-size: 3rem;
    font-weight: 600;
    background-color: white;
    text-decoration: underline;
    padding: 10px 0px 10px 10px;
    /* padding-bottom: 15px; */
}
main .home .home-about .project hr{
    /* margin-bottom: 15px; */
    padding-bottom: 15px;
    /* color: black; */
    width: 800px;
    background-color: white;
    /* background-color: white; */
}
main .home .home-about .project .description{
    background-color: white;
    padding: 10px 10px;
}
main .home .home-about .project .description img{
    float: left;
    height: 150px;
    width: 150px;
    margin-right: 15px;
}
main .home .home-about .project .link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
main .home .home-about .project .link a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: rgb(61, 171, 171);
    border: 2px solid black;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: .3s ease-in;
}
main .home .home-about .project .link a:hover{
    background-color: black;
    border: 2px solid rgb(61, 171, 171);
}
main .home .home-about .project .link a:visited{
    text-decoration: none;
    color: white;
}
/* End of Project Section */

/* Contact Section */
main .home .home-about .header{
    background-color: rgba(219, 216, 216, 0.985);
    /* margin: 0px 100px; */
    max-width: 900px;
    padding: 0px 100px;
    border: 2px groove black;
}
/* main .home .home-about form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
main .home .contact{
    display: flex;
    justify-content: center;
    align-items: center;

}
main .home .home-about form .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
}
main .home .home-about form .contact-form label{
    font-size: 2rem;
    padding-bottom: 5px;
    /* margin: 15px 0px; */
}
main .home .home-about form .contact-form input{
    width: calc(100% - 10px);
}
main .home .home-about form .contact-form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
/* End of Contact Section */

/* Footer Section */
footer .footer{
    height: 100px;
}
footer .footer .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End of Footer Section */



@media only screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
    }
    header h1{
        font-size: calc(3rem / 1.1);
        text-decoration: underline;
    }
    header .pages a{
        font-size: calc(2.5rem / 1.1);
    }
    main .home .home-about .project h3{
        text-align: center;
    }
    main .home .home-about p {
        font-size: 2rem;
        font-weight: 400;
        padding: 0px 30px;
    }
    .project .description img{
        margin-left: 50px;
    }

}